*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header{
    position: fixed;
}

nav {
    background-color: rgba(222, 255, 255, 0.548);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 55px;
}

nav h1{
    color: white;

    display: flex;
    text-align: center;
    font-family: cursive;
    padding-left: 20px;
}

nav ul{ 
    display: flex;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav li{
    padding: 0 2rem;
    display: flex;
    color: rgb(255, 255, 255);
    margin: auto;
}

nav li a{
    padding: 10px;
    color: #ffffff;
}
nav li a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(39, 107, 255);
    border-radius: 10px;
}

.iconMenu{
    display: none;
}
/* main */

main .about, main .contact{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

main .project{
    padding-top: 80px;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align:center;
    justify-content:start;
    flex-direction: column;
    color: white;
}

main .home{
    padding: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(61, 222, 237), rgb(0, 55, 255));
    color: white;
    flex-direction: column;
}

main .about{
    background-image: linear-gradient(to right, rgb(55, 115, 255), rgb(63, 212, 245));
}

main .contact{
    background-image: linear-gradient(to right, rgb(139, 185, 255), rgb(0, 55, 255));
    
}

main .project{
    background-image: linear-gradient(to right, rgb(96, 147, 223), rgb(40, 79, 219));
}
/* home */

.home button{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
} 

.home button{
    text-decoration: none;
    color: rgb(56, 162, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .85rem;
    padding: 10px 5px;
    transition: transform .4s ease-in-out;
}

.home button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.home button:hover{
    color: rgb(56, 162, 255);
    padding: 1px;
    border-radius: 5px;
    border-radius: 20px;
    transform: scale(1.2);
}

.home button:active {
    color: rgb(56, 162, 255);
}

.home button:active:after {
    background: rgba(255, 255, 255, 0.749);
}

.home button:hover:before {
    opacity: 1;
}

.home button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 20px;
}

.home h2{
    margin-top: 0;
    margin-bottom: 28px;
}


.dropdown{
    display: none;
    position: relative;
    background-color: rgba(222, 255, 255, 0.548);
    min-width: 160px;
    float: right;
    border-radius: 0 0 0 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown .contact:hover{
    background-color: white;
    color: #27acff;
    border-radius: 0 0 0 20px;
}

.dropdown a:hover{
    background-color: white;
    color: #27acff;
}

.dropdown a {
    display: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.show{
    display: inline-block;
}
/* media */

@media(max-width:1000px){
    nav h1{
        font-size: 18px;
    }

    nav ul{
        display: none;
    }

    .iconMenu{
        display: inline-block;
        padding-right: 20px;
    }

    .iconMenu:hover{
        cursor: pointer;
    }

    .bar1, .bar2, .bar3{
        width: 30px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 10px;
    }

    .change .bar1{
        transform: translate(0, 12px) rotate(-45deg);
    }
    .change .bar2{
        opacity: 0;;
    }
    .change .bar3{
        transform: translate(1px, -10px) rotate(45deg);
    }


    .home button:before{
        background: linear-gradient(45deg, #ff0000, #ff7300, #b3ff00, #37ff00, #00ff62, #ff00d9, #ff00b3, #ee00ff, #ff0015);
        background-size: 400%;
        z-index: -1;
        filter: blur(3px);
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        animation: glowing 25s linear infinite;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        border-radius: 20px;
    }
    
    .home button{
        text-decoration: none;
        color: rgb(56, 162, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .85rem;
        padding: 10px 5px;
    }

}

/* keyframes*/

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.2);}
}

@keyframes scaleb {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}